/**
* @category design
* @package  NewTheme_M2Theme
* @author   Artjoms Petersons <artjoms.petersons@scandiweb.com>
*/

.sticky {
    background: $white none repeat scroll 0 0;
    margin: 0 auto;
    max-width: 100%;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99;
}

.sections.nav-sections {
    margin-bottom: 0;
    text-align: center;

    .section-item-content.nav-sections-item-content {

        .switcher.currency.switcher-currency {
            display: none !important;
        }
    }
}

.page-main {
    margin-top: 25px;
}

.margin-top {
    margin-top: 10px ;
}

.no-margin {
    margin:0 auto 0 0;
}

.logo-height {
    height: 53px;
}

.no-margin-top {
    margin-top: 0;
}

.logo-margin {
    margin: -8px auto 25px 0;
}
