//Parent theme override
.related-custom {
    #block-related-heading {
        color: $darkblue;
        @include openSans(26px, 300)
    }

    .block-title {
        text-align: center;
    }

    .item.product.product-item {
        height: 100%;
    }

    .product-item-info {
        margin: auto;
        border: solid 1px #e4e6e9;
        width: 90%;
    }

    .product-item-details {
        margin: 0 8% 8% 8%;
    }

    .product-item {
        .price-box {
            margin: 3px 0 10px;
        }
    }

    .product-item-info {
        .product-image-container {
            width: 100% !important;

            .product-image-wrapper {
                width: 100%;

                .product-image-photo {
                    width: 100%;
                }
            }
        }
    }


    .product-item-details {
        .product-item-name {
            a {
                @include openSans(16px, 700);
                color: $darkblue;
            }
        }

        .price-final_price {
            .price-wrapper {
                .price {
                    font-family: "Open Sans";
                    font-weight: 700;
                    font-size: 18px;
                    @include openSans(18px, 700);
                    color: $grey;
                }
            }
        }

        .stock.available {
            span {
                @include openSans(11px, 700);
                color: $green;
                text-transform: uppercase;
            }

            span::before {
                content: '';
                display: inline-block;
                width: 10px;
                height: 10px;
                -moz-border-radius: 5px;
                -webkit-border-radius: 5px;
                border-radius: 5px;
                background-color: $green;
                margin-right: 8px;
            }
        }
    }
}


