/*
* Learning_NewPage
*
* @category     Learning
* @package      Learning_NewPage
* @author       Artjoms Petersons <artjoms.petersons@scandiweb.com>
*/
$green:#85B73C;
$darkblue:#2C2F46;
$grey:#85878F;
$marine_blue:#2682BD;
$light_blue:#F5F7FB;
$jyskblue:#1E4CA8;
$link:#2682BD;
$linkHover:#2170A3;
$linkDisabled:#85878F;
$white:#FFFFFF;
$silver:silver;
