/*
* Learning_NewPage
*
* @category     Learning
* @package      Learning_NewPage
* @author       Artjoms Petersons <artjoms.petersons@scandiweb.com>
*/
.example-cms-page {

    @include ul-text;

    @media (min-width: $breakpoint) {
        @include body_text_regular;
    }

    p {
        @media (min-width: $breakpoint) {
            margin: 0 40px 20px 0;
        }
    }

    .margins {
        margin: 0 80px 0 40px;
    }

    #truck-text {
        @media (min-width: $breakpoint) {
            grid-area: truck-text;
        }
    }

    .grid {
        @media (min-width: $breakpoint) {
            margin: 0 80px 20px 0;
            display: grid;
            grid-template-areas: "truck-text truck";
        }
    }

    .grid-container {
        display: grid;
        grid-template-columns: auto;
    }

    .grid-container > * {
        margin: 20px 0;
    }

    .grid-big-container{
        @media (min-width: $breakpoint) {
            display: grid;
            grid-template-columns: auto auto;
        }
    }

    .grid-container2 {
        display: grid;
        column-gap: 12px;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;

        .item1{
            margin: auto;
            grid-row: 1/3;

            i{
                position: relative;
                top: 15%;
            }

            img{
                position: relative;
                top: 15%;
            }
        }

        @media (min-width: $breakpoint) {
            display: grid;
            column-gap: 12px;
            grid-template-columns: 82px 260px;
            grid-template-rows: auto auto;
            .item1{
                margin: auto;
                grid-row: 1/3;
            }
        }
    }

    .grid-container3 {
        display: grid;
        column-gap: 10px;
        grid-template-columns: auto auto;

        @media (min-width: $breakpoint) {
            display: grid;
            column-gap: 10px;
            grid-template-columns: 168px 168px;
        }
    }

    .grid-container-2rows {
        display: grid;
        grid-template-rows: auto auto;
        justify-items: center;
        text-align: center;

        .item1 {
            margin: auto;
            grid-row: 1/3;

            i {
                position: relative;
                top: 15%;
            }

            img {
                position: relative;
                top: 15%;
            }
        }

        @media (min-width: $breakpoint) {
            display: grid;
            grid-template-rows: auto auto;
            justify-items: center;
            text-align: center;
            p {
                margin: auto;
            }
        }
    }

    .grid-half-content {
        display: grid;
        grid-template-rows: auto auto;

        @media (min-width: $breakpoint) {
            display: grid;
            grid-template-columns: auto auto;
        }
    }

    #truck {
        width: 100%;
        margin-bottom: 24px;

        @media (min-width: $breakpoint) {
            width: 220px;
            height: 220px;
            grid-area: truck;
        }
    }

    .circle_icon {
        background-color: $jyskblue;
        height: 42px;
        width: 42px;
        border-radius: 50%;
        display: inline-block;
        text-align: center;
        padding: 0.5em 0.6em 0.5em 0.6em;

        i{
            font-size: 26px;
            color: $white;
        }
    }

    #maincontent {
        padding: 0 0 0 0;
    }

    .margins {
        margin: 0 10px 0 10px;
    }

    .heading2 {
        margin-top: 40px;
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 17px;
        color: $darkblue;

    }

    ul {
        margin-bottom: 32px;
    }

    .important_info {
        position: relative;
        color: $green;
        font-family: 'Open Sans';
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        margin: 0 0 0 34px;
        letter-spacing: 0;

        @media (min-width: $breakpoint) {
            position: relative;
            color: $green;
            font-family: 'Open Sans';
            font-weight: 300;
            font-size: 26px;
            line-height: 39px;
            margin: 0 -40px 0 74px;
        }
    }

    .important_info:before {
        position: absolute;
        display: inline-block;
        float: left;
        left: -34px;
        top: 0.72em;
        border-top: 1px solid $green;
        width: 24px;
        content: "";

        @media (min-width: $breakpoint) {
            position: absolute;
            display: inline-block;
            float: left;
            left: -74px;
            top: 0.72em;
            border-top: 1px solid $green;
            width: 54px;
            content: "";
        }

    }

    a {
        @include font('Open Sans',400,14px);
        color: $link;
        line-height: 26px;

        &:hover{
            color: $linkHover;
            text-decoration: none;
        }

        &:disabled{
            color: $linkDisabled;
        }
    }

    .heading3 {
        @include font('Open Sans',600,14px);
    }

    .small_text {
        @include font('Open Sans',400,13px);
        line-height: 19px;
    }

    .heading2-subtitle {
        @include font('Open Sans',400,17px);
        color: $marine_blue;
        line-height: 22px;
    }

    @media (min-width: 600px){
        @import "mixins.scss";
        @import "table.scss";

    }
}

