/*
* Learning_NewPage
*
* @category     Learning
* @package      Learning_NewPage
* @author       Artjoms Petersons <artjoms.petersons@scandiweb.com>
*/

$breakpoint:600px;

@mixin body_text_regular{
    font-family: 'Open Sans';
    font-size: 14px;
    color: $grey;
    line-height: 26px;
}
@mixin table($areas) {
    padding: 1px;
    margin-top: 10px;
    grid-gap: 1px;
    background-color: $silver;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 54px auto auto auto auto;
    grid-template-areas: $areas;

    @media (min-width: $breakpoint) {
        padding: 1px;
        margin-top: 10px;
        grid-gap: 1px;
        background-color: $silver;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 54px 82px 60px 60px 104px;
        grid-template-areas: $areas;
    }

}

@mixin ul-text{
    ul{
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 14px;
        color: $grey;
        line-height: 20px;
    }

    @media(min-width: 600px){
        ul{
            font-family: 'Open Sans';
            font-weight: 700;
            font-size: 14px;
            color: $grey;
            line-height: 26px;
        }
    }

}

@mixin font($family,$weight,$size){
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
}

@mixin table_header{
    @include font('Open Sans',700,13px);
    opacity: 0.55;
    color: $darkblue;
    line-height: 22px;
    vertical-align: middle;
    line-height: 54px;
}
