/*
* Learning_NewPage
*
* @category     Learning
* @package      Learning_NewPage
* @author       Artjoms Petersons <artjoms.petersons@scandiweb.com>
*/
.grid-table{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
    margin: auto;
    @for $i from 1 through 4{
        @for $j from 1 through 5{
            .item#{$j}-#{$i}{
                background-color: white;
                grid-area: item#{$j}-#{$i};
                @if $j==1{
                    grid-column: 1/3;
                    text-align: center;
                    @include table_header;
                    background-color: $light_blue;
                    overflow: scroll;
                }
                @if $i!=1{
                    text-align: center;
                }
            }
        }
    }

    @media (min-width: $breakpoint) {
        display: grid;
        grid-template-columns: auto auto auto auto;
        @for $i from 1 through 4{
            @for $j from 1 through 5{
                .item#{$j}-#{$i}{
                    background-color: white;
                    grid-area: item#{$j}-#{$i};
                    @if $j==1{
                        grid-column: 1/3;
                        background-color: $light_blue;
                        text-align: center;
                        @include table_header;
                        overflow: auto;
                    }
                    @if $i!=1{
                        text-align: center;
                    }
                    @if $i=1{
                        align-content: center;
                        padding: 0 16px 0 16px;
                    }
                }
            }
        }
    }

    .grid-table-0{
        display: none;

        @media (min-width: $breakpoint) {
            padding: 0 16px 0 16px;
            @include table(
                    'item1-0 item1-0'
                    'item2-1 item2-1'
                    'item3-1 item3-1'
                    'item4-1 item4-1'
                    'item5-1 item5-1'
            );
            .item1-0{
                background-color: $light_blue;
                grid-column: 1/3;
            }
        }

    }
    .grid-table-1{
        @include table(
                'item1-2 item1-2'
                'item2-1 item2-2'
                'item3-1 item3-2'
                'item4-1 item4-2'
                'item5-1 item5-2'
        );

        @media (min-width: $breakpoint) {
            .item2-1, .item3-1, .item4-1, .item5-1{
                display: none;
            }
            @include table(
                    'item1-2 item1-2'
                    'item2-2 item2-2'
                    'item3-2 item3-2'
                    'item4-2 item4-2'
                    'item5-2 item5-2'
            );
        }

    }
    .grid-table-2{
        @include table(
                'item1-3 item1-3'
                'item2-1 item2-3'
                'item3-1 item3-3'
                'item4-1 item4-3'
                'item5-1 item5-3'
        );

        @media (min-width: $breakpoint) {
            .item2-1, .item3-1, .item4-1, .item5-1{
                display: none;
            }
            @include table(
                    'item1-3 item1-3'
                    'item2-3 item2-3'
                    'item3-3 item3-3'
                    'item4-3 item4-3'
                    'item5-3 item5-3'
            );
        }

    }
    .grid-table-3{
        @include table(
                'item1-4 item1-4'
                'item2-1 item2-4'
                'item3-1 item3-4'
                'item4-1 item4-4'
                'item5-1 item5-4'
        );

        @media (min-width: $breakpoint) {
            .item2-1, .item3-1, .item4-1, .item5-1{
                display: none;
            }
            @include table(
                    'item1-4 item1-4'
                    'item2-4 item2-4'
                    'item3-4 item3-4'
                    'item4-4 item4-4'
                    'item5-4 item5-4'
            );
        }

    }

}
