/*
* Learning_NewPage
*
* @category     Learning
* @package      Learning_NewPage
* @author       Artjoms Petersons <artjoms.petersons@scandiweb.com>
*/
/*
* Learning_NewPage
*
* @category     Learning
* @package      Learning_NewPage
* @author       Artjoms Petersons <artjoms.petersons@scandiweb.com>
*/
/*
* Learning_NewPage
*
* @category     Learning
* @package      Learning_NewPage
* @author       Artjoms Petersons <artjoms.petersons@scandiweb.com>
*/
/*
* Learning_NewPage
*
* @category     Learning
* @package      Learning_NewPage
* @author       Artjoms Petersons <artjoms.petersons@scandiweb.com>
*/
.grid-table {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  margin: auto; }
  .grid-table .item1-1 {
    background-color: white;
    grid-area: item1-1;
    grid-column: 1/3;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 13px;
    opacity: 0.55;
    color: #2C2F46;
    line-height: 22px;
    vertical-align: middle;
    line-height: 54px;
    background-color: #F5F7FB;
    overflow: scroll; }
  .grid-table .item2-1 {
    background-color: white;
    grid-area: item2-1; }
  .grid-table .item3-1 {
    background-color: white;
    grid-area: item3-1; }
  .grid-table .item4-1 {
    background-color: white;
    grid-area: item4-1; }
  .grid-table .item5-1 {
    background-color: white;
    grid-area: item5-1; }
  .grid-table .item1-2 {
    background-color: white;
    grid-area: item1-2;
    grid-column: 1/3;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 13px;
    opacity: 0.55;
    color: #2C2F46;
    line-height: 22px;
    vertical-align: middle;
    line-height: 54px;
    background-color: #F5F7FB;
    overflow: scroll;
    text-align: center; }
  .grid-table .item2-2 {
    background-color: white;
    grid-area: item2-2;
    text-align: center; }
  .grid-table .item3-2 {
    background-color: white;
    grid-area: item3-2;
    text-align: center; }
  .grid-table .item4-2 {
    background-color: white;
    grid-area: item4-2;
    text-align: center; }
  .grid-table .item5-2 {
    background-color: white;
    grid-area: item5-2;
    text-align: center; }
  .grid-table .item1-3 {
    background-color: white;
    grid-area: item1-3;
    grid-column: 1/3;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 13px;
    opacity: 0.55;
    color: #2C2F46;
    line-height: 22px;
    vertical-align: middle;
    line-height: 54px;
    background-color: #F5F7FB;
    overflow: scroll;
    text-align: center; }
  .grid-table .item2-3 {
    background-color: white;
    grid-area: item2-3;
    text-align: center; }
  .grid-table .item3-3 {
    background-color: white;
    grid-area: item3-3;
    text-align: center; }
  .grid-table .item4-3 {
    background-color: white;
    grid-area: item4-3;
    text-align: center; }
  .grid-table .item5-3 {
    background-color: white;
    grid-area: item5-3;
    text-align: center; }
  .grid-table .item1-4 {
    background-color: white;
    grid-area: item1-4;
    grid-column: 1/3;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 13px;
    opacity: 0.55;
    color: #2C2F46;
    line-height: 22px;
    vertical-align: middle;
    line-height: 54px;
    background-color: #F5F7FB;
    overflow: scroll;
    text-align: center; }
  .grid-table .item2-4 {
    background-color: white;
    grid-area: item2-4;
    text-align: center; }
  .grid-table .item3-4 {
    background-color: white;
    grid-area: item3-4;
    text-align: center; }
  .grid-table .item4-4 {
    background-color: white;
    grid-area: item4-4;
    text-align: center; }
  .grid-table .item5-4 {
    background-color: white;
    grid-area: item5-4;
    text-align: center; }
  @media (min-width: 600px) {
    .grid-table {
      display: grid;
      grid-template-columns: auto auto auto auto; }
      .grid-table .item1-1 {
        background-color: white;
        grid-area: item1-1;
        grid-column: 1/3;
        background-color: #F5F7FB;
        text-align: center;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 13px;
        opacity: 0.55;
        color: #2C2F46;
        line-height: 22px;
        vertical-align: middle;
        line-height: 54px;
        overflow: auto;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item2-1 {
        background-color: white;
        grid-area: item2-1;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item3-1 {
        background-color: white;
        grid-area: item3-1;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item4-1 {
        background-color: white;
        grid-area: item4-1;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item5-1 {
        background-color: white;
        grid-area: item5-1;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item1-2 {
        background-color: white;
        grid-area: item1-2;
        grid-column: 1/3;
        background-color: #F5F7FB;
        text-align: center;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 13px;
        opacity: 0.55;
        color: #2C2F46;
        line-height: 22px;
        vertical-align: middle;
        line-height: 54px;
        overflow: auto;
        text-align: center;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item2-2 {
        background-color: white;
        grid-area: item2-2;
        text-align: center;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item3-2 {
        background-color: white;
        grid-area: item3-2;
        text-align: center;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item4-2 {
        background-color: white;
        grid-area: item4-2;
        text-align: center;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item5-2 {
        background-color: white;
        grid-area: item5-2;
        text-align: center;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item1-3 {
        background-color: white;
        grid-area: item1-3;
        grid-column: 1/3;
        background-color: #F5F7FB;
        text-align: center;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 13px;
        opacity: 0.55;
        color: #2C2F46;
        line-height: 22px;
        vertical-align: middle;
        line-height: 54px;
        overflow: auto;
        text-align: center;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item2-3 {
        background-color: white;
        grid-area: item2-3;
        text-align: center;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item3-3 {
        background-color: white;
        grid-area: item3-3;
        text-align: center;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item4-3 {
        background-color: white;
        grid-area: item4-3;
        text-align: center;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item5-3 {
        background-color: white;
        grid-area: item5-3;
        text-align: center;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item1-4 {
        background-color: white;
        grid-area: item1-4;
        grid-column: 1/3;
        background-color: #F5F7FB;
        text-align: center;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 13px;
        opacity: 0.55;
        color: #2C2F46;
        line-height: 22px;
        vertical-align: middle;
        line-height: 54px;
        overflow: auto;
        text-align: center;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item2-4 {
        background-color: white;
        grid-area: item2-4;
        text-align: center;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item3-4 {
        background-color: white;
        grid-area: item3-4;
        text-align: center;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item4-4 {
        background-color: white;
        grid-area: item4-4;
        text-align: center;
        align-content: center;
        padding: 0 16px 0 16px; }
      .grid-table .item5-4 {
        background-color: white;
        grid-area: item5-4;
        text-align: center;
        align-content: center;
        padding: 0 16px 0 16px; } }
  .grid-table .grid-table-0 {
    display: none; }
    @media (min-width: 600px) {
      .grid-table .grid-table-0 {
        padding: 0 16px 0 16px;
        padding: 1px;
        margin-top: 10px;
        grid-gap: 1px;
        background-color: silver;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 54px auto auto auto auto;
        grid-template-areas: "item1-0 item1-0" "item2-1 item2-1" "item3-1 item3-1" "item4-1 item4-1" "item5-1 item5-1"; } }
  @media (min-width: 600px) and (min-width: 600px) {
    .grid-table .grid-table-0 {
      padding: 1px;
      margin-top: 10px;
      grid-gap: 1px;
      background-color: silver;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 54px 82px 60px 60px 104px;
      grid-template-areas: "item1-0 item1-0" "item2-1 item2-1" "item3-1 item3-1" "item4-1 item4-1" "item5-1 item5-1"; } }
    @media (min-width: 600px) {
        .grid-table .grid-table-0 .item1-0 {
          background-color: #F5F7FB;
          grid-column: 1/3; } }
  .grid-table .grid-table-1 {
    padding: 1px;
    margin-top: 10px;
    grid-gap: 1px;
    background-color: silver;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 54px auto auto auto auto;
    grid-template-areas: "item1-2 item1-2" "item2-1 item2-2" "item3-1 item3-2" "item4-1 item4-2" "item5-1 item5-2"; }
    @media (min-width: 600px) {
      .grid-table .grid-table-1 {
        padding: 1px;
        margin-top: 10px;
        grid-gap: 1px;
        background-color: silver;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 54px 82px 60px 60px 104px;
        grid-template-areas: "item1-2 item1-2" "item2-1 item2-2" "item3-1 item3-2" "item4-1 item4-2" "item5-1 item5-2"; } }
    @media (min-width: 600px) {
      .grid-table .grid-table-1 {
        padding: 1px;
        margin-top: 10px;
        grid-gap: 1px;
        background-color: silver;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 54px auto auto auto auto;
        grid-template-areas: "item1-2 item1-2" "item2-2 item2-2" "item3-2 item3-2" "item4-2 item4-2" "item5-2 item5-2"; }
        .grid-table .grid-table-1 .item2-1, .grid-table .grid-table-1 .item3-1, .grid-table .grid-table-1 .item4-1, .grid-table .grid-table-1 .item5-1 {
          display: none; } }
  @media (min-width: 600px) and (min-width: 600px) {
    .grid-table .grid-table-1 {
      padding: 1px;
      margin-top: 10px;
      grid-gap: 1px;
      background-color: silver;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 54px 82px 60px 60px 104px;
      grid-template-areas: "item1-2 item1-2" "item2-2 item2-2" "item3-2 item3-2" "item4-2 item4-2" "item5-2 item5-2"; } }
  .grid-table .grid-table-2 {
    padding: 1px;
    margin-top: 10px;
    grid-gap: 1px;
    background-color: silver;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 54px auto auto auto auto;
    grid-template-areas: "item1-3 item1-3" "item2-1 item2-3" "item3-1 item3-3" "item4-1 item4-3" "item5-1 item5-3"; }
    @media (min-width: 600px) {
      .grid-table .grid-table-2 {
        padding: 1px;
        margin-top: 10px;
        grid-gap: 1px;
        background-color: silver;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 54px 82px 60px 60px 104px;
        grid-template-areas: "item1-3 item1-3" "item2-1 item2-3" "item3-1 item3-3" "item4-1 item4-3" "item5-1 item5-3"; } }
    @media (min-width: 600px) {
      .grid-table .grid-table-2 {
        padding: 1px;
        margin-top: 10px;
        grid-gap: 1px;
        background-color: silver;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 54px auto auto auto auto;
        grid-template-areas: "item1-3 item1-3" "item2-3 item2-3" "item3-3 item3-3" "item4-3 item4-3" "item5-3 item5-3"; }
        .grid-table .grid-table-2 .item2-1, .grid-table .grid-table-2 .item3-1, .grid-table .grid-table-2 .item4-1, .grid-table .grid-table-2 .item5-1 {
          display: none; } }
  @media (min-width: 600px) and (min-width: 600px) {
    .grid-table .grid-table-2 {
      padding: 1px;
      margin-top: 10px;
      grid-gap: 1px;
      background-color: silver;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 54px 82px 60px 60px 104px;
      grid-template-areas: "item1-3 item1-3" "item2-3 item2-3" "item3-3 item3-3" "item4-3 item4-3" "item5-3 item5-3"; } }
  .grid-table .grid-table-3 {
    padding: 1px;
    margin-top: 10px;
    grid-gap: 1px;
    background-color: silver;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 54px auto auto auto auto;
    grid-template-areas: "item1-4 item1-4" "item2-1 item2-4" "item3-1 item3-4" "item4-1 item4-4" "item5-1 item5-4"; }
    @media (min-width: 600px) {
      .grid-table .grid-table-3 {
        padding: 1px;
        margin-top: 10px;
        grid-gap: 1px;
        background-color: silver;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 54px 82px 60px 60px 104px;
        grid-template-areas: "item1-4 item1-4" "item2-1 item2-4" "item3-1 item3-4" "item4-1 item4-4" "item5-1 item5-4"; } }
    @media (min-width: 600px) {
      .grid-table .grid-table-3 {
        padding: 1px;
        margin-top: 10px;
        grid-gap: 1px;
        background-color: silver;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 54px auto auto auto auto;
        grid-template-areas: "item1-4 item1-4" "item2-4 item2-4" "item3-4 item3-4" "item4-4 item4-4" "item5-4 item5-4"; }
        .grid-table .grid-table-3 .item2-1, .grid-table .grid-table-3 .item3-1, .grid-table .grid-table-3 .item4-1, .grid-table .grid-table-3 .item5-1 {
          display: none; } }
  @media (min-width: 600px) and (min-width: 600px) {
    .grid-table .grid-table-3 {
      padding: 1px;
      margin-top: 10px;
      grid-gap: 1px;
      background-color: silver;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 54px 82px 60px 60px 104px;
      grid-template-areas: "item1-4 item1-4" "item2-4 item2-4" "item3-4 item3-4" "item4-4 item4-4" "item5-4 item5-4"; } }

/*
* Learning_NewPage
*
* @category     Learning
* @package      Learning_NewPage
* @author       Artjoms Petersons <artjoms.petersons@scandiweb.com>
*/
.example-cms-page ul {
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 14px;
  color: #85878F;
  line-height: 20px; }

@media (min-width: 600px) {
  .example-cms-page ul {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 14px;
    color: #85878F;
    line-height: 26px; } }

@media (min-width: 600px) {
  .example-cms-page {
    font-family: 'Open Sans';
    font-size: 14px;
    color: #85878F;
    line-height: 26px; } }

@media (min-width: 600px) {
  .example-cms-page p {
    margin: 0 40px 20px 0; } }

.example-cms-page .margins {
  margin: 0 80px 0 40px; }

@media (min-width: 600px) {
  .example-cms-page #truck-text {
    grid-area: truck-text; } }

@media (min-width: 600px) {
  .example-cms-page .grid {
    margin: 0 80px 20px 0;
    display: grid;
    grid-template-areas: "truck-text truck"; } }

.example-cms-page .grid-container {
  display: grid;
  grid-template-columns: auto; }

.example-cms-page .grid-container > * {
  margin: 20px 0; }

@media (min-width: 600px) {
  .example-cms-page .grid-big-container {
    display: grid;
    grid-template-columns: auto auto; } }

.example-cms-page .grid-container2 {
  display: grid;
  column-gap: 12px;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto; }
  .example-cms-page .grid-container2 .item1 {
    margin: auto;
    grid-row: 1/3; }
    .example-cms-page .grid-container2 .item1 i {
      position: relative;
      top: 15%; }
    .example-cms-page .grid-container2 .item1 img {
      position: relative;
      top: 15%; }
  @media (min-width: 600px) {
    .example-cms-page .grid-container2 {
      display: grid;
      column-gap: 12px;
      grid-template-columns: 82px 260px;
      grid-template-rows: auto auto; }
      .example-cms-page .grid-container2 .item1 {
        margin: auto;
        grid-row: 1/3; } }

.example-cms-page .grid-container3 {
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto; }
  @media (min-width: 600px) {
    .example-cms-page .grid-container3 {
      display: grid;
      column-gap: 10px;
      grid-template-columns: 168px 168px; } }

.example-cms-page .grid-container-2rows {
  display: grid;
  grid-template-rows: auto auto;
  justify-items: center;
  text-align: center; }
  .example-cms-page .grid-container-2rows .item1 {
    margin: auto;
    grid-row: 1/3; }
    .example-cms-page .grid-container-2rows .item1 i {
      position: relative;
      top: 15%; }
    .example-cms-page .grid-container-2rows .item1 img {
      position: relative;
      top: 15%; }
  @media (min-width: 600px) {
    .example-cms-page .grid-container-2rows {
      display: grid;
      grid-template-rows: auto auto;
      justify-items: center;
      text-align: center; }
      .example-cms-page .grid-container-2rows p {
        margin: auto; } }

.example-cms-page .grid-half-content {
  display: grid;
  grid-template-rows: auto auto; }
  @media (min-width: 600px) {
    .example-cms-page .grid-half-content {
      display: grid;
      grid-template-columns: auto auto; } }

.example-cms-page #truck {
  width: 100%;
  margin-bottom: 24px; }
  @media (min-width: 600px) {
    .example-cms-page #truck {
      width: 220px;
      height: 220px;
      grid-area: truck; } }

.example-cms-page .circle_icon {
  background-color: #1E4CA8;
  height: 42px;
  width: 42px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  padding: 0.5em 0.6em 0.5em 0.6em; }
  .example-cms-page .circle_icon i {
    font-size: 26px;
    color: #FFFFFF; }

.example-cms-page #maincontent {
  padding: 0 0 0 0; }

.example-cms-page .margins {
  margin: 0 10px 0 10px; }

.example-cms-page .heading2 {
  margin-top: 40px;
  font-family: 'Open Sans';
  font-weight: 700;
  font-size: 17px;
  color: #2C2F46; }

.example-cms-page ul {
  margin-bottom: 32px; }

.example-cms-page .important_info {
  position: relative;
  color: #85B73C;
  font-family: 'Open Sans';
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  margin: 0 0 0 34px;
  letter-spacing: 0; }
  @media (min-width: 600px) {
    .example-cms-page .important_info {
      position: relative;
      color: #85B73C;
      font-family: 'Open Sans';
      font-weight: 300;
      font-size: 26px;
      line-height: 39px;
      margin: 0 -40px 0 74px; } }

.example-cms-page .important_info:before {
  position: absolute;
  display: inline-block;
  float: left;
  left: -34px;
  top: 0.72em;
  border-top: 1px solid #85B73C;
  width: 24px;
  content: ""; }
  @media (min-width: 600px) {
    .example-cms-page .important_info:before {
      position: absolute;
      display: inline-block;
      float: left;
      left: -74px;
      top: 0.72em;
      border-top: 1px solid #85B73C;
      width: 54px;
      content: ""; } }

.example-cms-page a {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 14px;
  color: #2682BD;
  line-height: 26px; }
  .example-cms-page a:hover {
    color: #2170A3;
    text-decoration: none; }
  .example-cms-page a:disabled {
    color: #85878F; }

.example-cms-page .heading3 {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 14px; }

.example-cms-page .small_text {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 13px;
  line-height: 19px; }

.example-cms-page .heading2-subtitle {
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 17px;
  color: #2682BD;
  line-height: 22px; }

@media (min-width: 600px) {
  .example-cms-page {
    /*
* Learning_NewPage
*
* @category     Learning
* @package      Learning_NewPage
* @author       Artjoms Petersons <artjoms.petersons@scandiweb.com>
*/
    /*
* Learning_NewPage
*
* @category     Learning
* @package      Learning_NewPage
* @author       Artjoms Petersons <artjoms.petersons@scandiweb.com>
*/ }
    .example-cms-page .grid-table {
      display: grid;
      grid-template-columns: auto;
      grid-template-rows: auto auto auto;
      margin: auto; }
      .example-cms-page .grid-table .item1-1 {
        background-color: white;
        grid-area: item1-1;
        grid-column: 1/3;
        text-align: center;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 13px;
        opacity: 0.55;
        color: #2C2F46;
        line-height: 22px;
        vertical-align: middle;
        line-height: 54px;
        background-color: #F5F7FB;
        overflow: scroll; }
      .example-cms-page .grid-table .item2-1 {
        background-color: white;
        grid-area: item2-1; }
      .example-cms-page .grid-table .item3-1 {
        background-color: white;
        grid-area: item3-1; }
      .example-cms-page .grid-table .item4-1 {
        background-color: white;
        grid-area: item4-1; }
      .example-cms-page .grid-table .item5-1 {
        background-color: white;
        grid-area: item5-1; }
      .example-cms-page .grid-table .item1-2 {
        background-color: white;
        grid-area: item1-2;
        grid-column: 1/3;
        text-align: center;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 13px;
        opacity: 0.55;
        color: #2C2F46;
        line-height: 22px;
        vertical-align: middle;
        line-height: 54px;
        background-color: #F5F7FB;
        overflow: scroll;
        text-align: center; }
      .example-cms-page .grid-table .item2-2 {
        background-color: white;
        grid-area: item2-2;
        text-align: center; }
      .example-cms-page .grid-table .item3-2 {
        background-color: white;
        grid-area: item3-2;
        text-align: center; }
      .example-cms-page .grid-table .item4-2 {
        background-color: white;
        grid-area: item4-2;
        text-align: center; }
      .example-cms-page .grid-table .item5-2 {
        background-color: white;
        grid-area: item5-2;
        text-align: center; }
      .example-cms-page .grid-table .item1-3 {
        background-color: white;
        grid-area: item1-3;
        grid-column: 1/3;
        text-align: center;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 13px;
        opacity: 0.55;
        color: #2C2F46;
        line-height: 22px;
        vertical-align: middle;
        line-height: 54px;
        background-color: #F5F7FB;
        overflow: scroll;
        text-align: center; }
      .example-cms-page .grid-table .item2-3 {
        background-color: white;
        grid-area: item2-3;
        text-align: center; }
      .example-cms-page .grid-table .item3-3 {
        background-color: white;
        grid-area: item3-3;
        text-align: center; }
      .example-cms-page .grid-table .item4-3 {
        background-color: white;
        grid-area: item4-3;
        text-align: center; }
      .example-cms-page .grid-table .item5-3 {
        background-color: white;
        grid-area: item5-3;
        text-align: center; }
      .example-cms-page .grid-table .item1-4 {
        background-color: white;
        grid-area: item1-4;
        grid-column: 1/3;
        text-align: center;
        font-family: "Open Sans";
        font-weight: 700;
        font-size: 13px;
        opacity: 0.55;
        color: #2C2F46;
        line-height: 22px;
        vertical-align: middle;
        line-height: 54px;
        background-color: #F5F7FB;
        overflow: scroll;
        text-align: center; }
      .example-cms-page .grid-table .item2-4 {
        background-color: white;
        grid-area: item2-4;
        text-align: center; }
      .example-cms-page .grid-table .item3-4 {
        background-color: white;
        grid-area: item3-4;
        text-align: center; }
      .example-cms-page .grid-table .item4-4 {
        background-color: white;
        grid-area: item4-4;
        text-align: center; }
      .example-cms-page .grid-table .item5-4 {
        background-color: white;
        grid-area: item5-4;
        text-align: center; } }
    @media (min-width: 600px) and (min-width: 600px) {
      .example-cms-page .grid-table {
        display: grid;
        grid-template-columns: auto auto auto auto; }
        .example-cms-page .grid-table .item1-1 {
          background-color: white;
          grid-area: item1-1;
          grid-column: 1/3;
          background-color: #F5F7FB;
          text-align: center;
          font-family: "Open Sans";
          font-weight: 700;
          font-size: 13px;
          opacity: 0.55;
          color: #2C2F46;
          line-height: 22px;
          vertical-align: middle;
          line-height: 54px;
          overflow: auto;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item2-1 {
          background-color: white;
          grid-area: item2-1;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item3-1 {
          background-color: white;
          grid-area: item3-1;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item4-1 {
          background-color: white;
          grid-area: item4-1;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item5-1 {
          background-color: white;
          grid-area: item5-1;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item1-2 {
          background-color: white;
          grid-area: item1-2;
          grid-column: 1/3;
          background-color: #F5F7FB;
          text-align: center;
          font-family: "Open Sans";
          font-weight: 700;
          font-size: 13px;
          opacity: 0.55;
          color: #2C2F46;
          line-height: 22px;
          vertical-align: middle;
          line-height: 54px;
          overflow: auto;
          text-align: center;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item2-2 {
          background-color: white;
          grid-area: item2-2;
          text-align: center;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item3-2 {
          background-color: white;
          grid-area: item3-2;
          text-align: center;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item4-2 {
          background-color: white;
          grid-area: item4-2;
          text-align: center;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item5-2 {
          background-color: white;
          grid-area: item5-2;
          text-align: center;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item1-3 {
          background-color: white;
          grid-area: item1-3;
          grid-column: 1/3;
          background-color: #F5F7FB;
          text-align: center;
          font-family: "Open Sans";
          font-weight: 700;
          font-size: 13px;
          opacity: 0.55;
          color: #2C2F46;
          line-height: 22px;
          vertical-align: middle;
          line-height: 54px;
          overflow: auto;
          text-align: center;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item2-3 {
          background-color: white;
          grid-area: item2-3;
          text-align: center;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item3-3 {
          background-color: white;
          grid-area: item3-3;
          text-align: center;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item4-3 {
          background-color: white;
          grid-area: item4-3;
          text-align: center;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item5-3 {
          background-color: white;
          grid-area: item5-3;
          text-align: center;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item1-4 {
          background-color: white;
          grid-area: item1-4;
          grid-column: 1/3;
          background-color: #F5F7FB;
          text-align: center;
          font-family: "Open Sans";
          font-weight: 700;
          font-size: 13px;
          opacity: 0.55;
          color: #2C2F46;
          line-height: 22px;
          vertical-align: middle;
          line-height: 54px;
          overflow: auto;
          text-align: center;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item2-4 {
          background-color: white;
          grid-area: item2-4;
          text-align: center;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item3-4 {
          background-color: white;
          grid-area: item3-4;
          text-align: center;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item4-4 {
          background-color: white;
          grid-area: item4-4;
          text-align: center;
          align-content: center;
          padding: 0 16px 0 16px; }
        .example-cms-page .grid-table .item5-4 {
          background-color: white;
          grid-area: item5-4;
          text-align: center;
          align-content: center;
          padding: 0 16px 0 16px; } }

@media (min-width: 600px) {
      .example-cms-page .grid-table .grid-table-0 {
        display: none; } }
      @media (min-width: 600px) and (min-width: 600px) {
        .example-cms-page .grid-table .grid-table-0 {
          padding: 0 16px 0 16px;
          padding: 1px;
          margin-top: 10px;
          grid-gap: 1px;
          background-color: silver;
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: 54px auto auto auto auto;
          grid-template-areas: "item1-0 item1-0" "item2-1 item2-1" "item3-1 item3-1" "item4-1 item4-1" "item5-1 item5-1"; } }
  @media (min-width: 600px) and (min-width: 600px) and (min-width: 600px) {
    .example-cms-page .grid-table .grid-table-0 {
      padding: 1px;
      margin-top: 10px;
      grid-gap: 1px;
      background-color: silver;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 54px 82px 60px 60px 104px;
      grid-template-areas: "item1-0 item1-0" "item2-1 item2-1" "item3-1 item3-1" "item4-1 item4-1" "item5-1 item5-1"; } }
      @media (min-width: 600px) and (min-width: 600px) {
          .example-cms-page .grid-table .grid-table-0 .item1-0 {
            background-color: #F5F7FB;
            grid-column: 1/3; } }

@media (min-width: 600px) {
      .example-cms-page .grid-table .grid-table-1 {
        padding: 1px;
        margin-top: 10px;
        grid-gap: 1px;
        background-color: silver;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 54px auto auto auto auto;
        grid-template-areas: "item1-2 item1-2" "item2-1 item2-2" "item3-1 item3-2" "item4-1 item4-2" "item5-1 item5-2"; } }
      @media (min-width: 600px) and (min-width: 600px) {
        .example-cms-page .grid-table .grid-table-1 {
          padding: 1px;
          margin-top: 10px;
          grid-gap: 1px;
          background-color: silver;
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: 54px 82px 60px 60px 104px;
          grid-template-areas: "item1-2 item1-2" "item2-1 item2-2" "item3-1 item3-2" "item4-1 item4-2" "item5-1 item5-2"; } }
      @media (min-width: 600px) and (min-width: 600px) {
        .example-cms-page .grid-table .grid-table-1 {
          padding: 1px;
          margin-top: 10px;
          grid-gap: 1px;
          background-color: silver;
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: 54px auto auto auto auto;
          grid-template-areas: "item1-2 item1-2" "item2-2 item2-2" "item3-2 item3-2" "item4-2 item4-2" "item5-2 item5-2"; }
          .example-cms-page .grid-table .grid-table-1 .item2-1, .example-cms-page .grid-table .grid-table-1 .item3-1, .example-cms-page .grid-table .grid-table-1 .item4-1, .example-cms-page .grid-table .grid-table-1 .item5-1 {
            display: none; } }
  @media (min-width: 600px) and (min-width: 600px) and (min-width: 600px) {
    .example-cms-page .grid-table .grid-table-1 {
      padding: 1px;
      margin-top: 10px;
      grid-gap: 1px;
      background-color: silver;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 54px 82px 60px 60px 104px;
      grid-template-areas: "item1-2 item1-2" "item2-2 item2-2" "item3-2 item3-2" "item4-2 item4-2" "item5-2 item5-2"; } }

@media (min-width: 600px) {
      .example-cms-page .grid-table .grid-table-2 {
        padding: 1px;
        margin-top: 10px;
        grid-gap: 1px;
        background-color: silver;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 54px auto auto auto auto;
        grid-template-areas: "item1-3 item1-3" "item2-1 item2-3" "item3-1 item3-3" "item4-1 item4-3" "item5-1 item5-3"; } }
      @media (min-width: 600px) and (min-width: 600px) {
        .example-cms-page .grid-table .grid-table-2 {
          padding: 1px;
          margin-top: 10px;
          grid-gap: 1px;
          background-color: silver;
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: 54px 82px 60px 60px 104px;
          grid-template-areas: "item1-3 item1-3" "item2-1 item2-3" "item3-1 item3-3" "item4-1 item4-3" "item5-1 item5-3"; } }
      @media (min-width: 600px) and (min-width: 600px) {
        .example-cms-page .grid-table .grid-table-2 {
          padding: 1px;
          margin-top: 10px;
          grid-gap: 1px;
          background-color: silver;
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: 54px auto auto auto auto;
          grid-template-areas: "item1-3 item1-3" "item2-3 item2-3" "item3-3 item3-3" "item4-3 item4-3" "item5-3 item5-3"; }
          .example-cms-page .grid-table .grid-table-2 .item2-1, .example-cms-page .grid-table .grid-table-2 .item3-1, .example-cms-page .grid-table .grid-table-2 .item4-1, .example-cms-page .grid-table .grid-table-2 .item5-1 {
            display: none; } }
  @media (min-width: 600px) and (min-width: 600px) and (min-width: 600px) {
    .example-cms-page .grid-table .grid-table-2 {
      padding: 1px;
      margin-top: 10px;
      grid-gap: 1px;
      background-color: silver;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 54px 82px 60px 60px 104px;
      grid-template-areas: "item1-3 item1-3" "item2-3 item2-3" "item3-3 item3-3" "item4-3 item4-3" "item5-3 item5-3"; } }

@media (min-width: 600px) {
      .example-cms-page .grid-table .grid-table-3 {
        padding: 1px;
        margin-top: 10px;
        grid-gap: 1px;
        background-color: silver;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: 54px auto auto auto auto;
        grid-template-areas: "item1-4 item1-4" "item2-1 item2-4" "item3-1 item3-4" "item4-1 item4-4" "item5-1 item5-4"; } }
      @media (min-width: 600px) and (min-width: 600px) {
        .example-cms-page .grid-table .grid-table-3 {
          padding: 1px;
          margin-top: 10px;
          grid-gap: 1px;
          background-color: silver;
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: 54px 82px 60px 60px 104px;
          grid-template-areas: "item1-4 item1-4" "item2-1 item2-4" "item3-1 item3-4" "item4-1 item4-4" "item5-1 item5-4"; } }
      @media (min-width: 600px) and (min-width: 600px) {
        .example-cms-page .grid-table .grid-table-3 {
          padding: 1px;
          margin-top: 10px;
          grid-gap: 1px;
          background-color: silver;
          display: grid;
          grid-template-columns: auto auto;
          grid-template-rows: 54px auto auto auto auto;
          grid-template-areas: "item1-4 item1-4" "item2-4 item2-4" "item3-4 item3-4" "item4-4 item4-4" "item5-4 item5-4"; }
          .example-cms-page .grid-table .grid-table-3 .item2-1, .example-cms-page .grid-table .grid-table-3 .item3-1, .example-cms-page .grid-table .grid-table-3 .item4-1, .example-cms-page .grid-table .grid-table-3 .item5-1 {
            display: none; } }
  @media (min-width: 600px) and (min-width: 600px) and (min-width: 600px) {
    .example-cms-page .grid-table .grid-table-3 {
      padding: 1px;
      margin-top: 10px;
      grid-gap: 1px;
      background-color: silver;
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 54px 82px 60px 60px 104px;
      grid-template-areas: "item1-4 item1-4" "item2-4 item2-4" "item3-4 item3-4" "item4-4 item4-4" "item5-4 item5-4"; } }

.related-custom #block-related-heading {
  color: #2C2F46;
  font-family: "Open Sans";
  font-weight: 300;
  font-size: 26px; }

.related-custom .block-title {
  text-align: center; }

.related-custom .item.product.product-item {
  height: 100%; }

.related-custom .product-item-info {
  margin: auto;
  border: solid 1px #e4e6e9;
  width: 90%; }

.related-custom .product-item-details {
  margin: 0 8% 8% 8%; }

.related-custom .product-item .price-box {
  margin: 3px 0 10px; }

.related-custom .product-item-info .product-image-container {
  width: 100% !important; }
  .related-custom .product-item-info .product-image-container .product-image-wrapper {
    width: 100%; }
    .related-custom .product-item-info .product-image-container .product-image-wrapper .product-image-photo {
      width: 100%; }

.related-custom .product-item-details .product-item-name a {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 16px;
  color: #2C2F46; }

.related-custom .product-item-details .price-final_price .price-wrapper .price {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 18px;
  color: #85878F; }

.related-custom .product-item-details .stock.available span {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 11px;
  color: #85B73C;
  text-transform: uppercase; }

.related-custom .product-item-details .stock.available span::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #85B73C;
  margin-right: 8px; }

.related-custom .prev-arrow {
  z-index: 2;
  left: 0;
  bottom: 50%;
  position: absolute;
  border: solid #2c2f46;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 14px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg); }

.related-custom .next-arrow {
  z-index: 2;
  right: 0;
  bottom: 50%;
  position: absolute;
  border: solid #2c2f46;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 14px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg); }

.related-custom .slick-dots li {
  margin: 0 !important; }

.related-custom .slick-dots li button:before {
  color: #2C2F46 !important;
  font-size: 8px !important; }

@media (max-width: 767px) {
  .related-custom .slick-slide {
    opacity: 0.35; } }

@media (max-width: 767px) {
  .related-custom .slick-slide.slick-current {
    opacity: 1; } }

/**
* @category design
* @package  NewTheme_M2Theme
* @author   Artjoms Petersons <artjoms.petersons@scandiweb.com>
*/
.sticky {
  background: #FFFFFF none repeat scroll 0 0;
  margin: 0 auto;
  max-width: 100%;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99; }

.sections.nav-sections {
  margin-bottom: 0;
  text-align: center; }
  .sections.nav-sections .section-item-content.nav-sections-item-content .switcher.currency.switcher-currency {
    display: none !important; }

.page-main {
  margin-top: 25px; }

.margin-top {
  margin-top: 10px; }

.no-margin {
  margin: 0 auto 0 0; }

.logo-height {
  height: 53px; }

.no-margin-top {
  margin-top: 0; }

.logo-margin {
  margin: -8px auto 25px 0; }
