<div class="example-cms-page">
    <div class="margins">
        <div class="important_info">Most important information goes here. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Donec sit amet vestibulum ligula, eu
            ultricies nibh. Sed eu dolor neque. Vestibulum rhoncus ligula a leo
            placerat, vitae scelerisque purus malesuada. Pellentesque vel fringilla
            lacus. Mauris auctor lectus eget eros dapibus imperdiet. Maecenas at placerat odio.
        </div>
        <p class="heading2">
            Courier Delivery Service
        </p>
    </div>
    <div class="grid">
        <img
            id="truck"
            src="{{view url='images/purulator.png'}}"
            alt="truck"
        />
        <div class="margins">
            <div id="truck-text">
                <p>JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Décor, Bath Products).
                    It is important that you provide correct address information.
                    If after three failed attempts of delivering your products, it will be held at your closest Purolator
                    depot for two weeks for pick up. If your order is not picked up, it will be returned to the JYSK store
                    that sent the product out. At this point, a refund will be given to you for only the products.
                </p>
                <p>
                    You will receive a shipment email with a Purolator tracking number once your order is ready for delivery.
                    You will be able to start tracking your order at <a href="http://www.purolator.com">http://www.purolator.com</a> once
                    picks up the products from the JYSK store.
                </p>
            </div>
        </div>
    </div>
    <div class="margins">
        <p class="heading2">
            Local Delivery Service
        </p>
        <p>
            JYSK.lv uses 3rd party delivery companies to send furniture and mattress products.
            All deliveries will be a two man service and will be either first-point-of-entry
            or any room in the house depending on location.
        </p>
        <ul>
            <li>
                The best shipping company in the world
            </li>
            <li>
                Another bullet point outlining the good local deliveries
            </li>
            <li>
                The third bullet point example
            </li>
        </ul>
        <div class="grid-big-container">
            <div class="grid-container">
                    <div class="grid-item1">
                        <div class="grid-container2">
                            <div class="item1 circle_icon text-center"><i class="far fa-envelope"></i></div>
                            <div>
                                <p class="heading3" style="margin-bottom: 0">SANEM ATLAIDES KODU</p>
                                <p class="small_text">Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu. </p>
                            </div>
                        </div>
                    </div>
                    <div class="grid-item2">
                        <div class="grid-container2">
                            <div class="item1 circle_icon text-center">
                                <img id="checkmark" src="{{view url='images/basket-icon.svg'}}"/>
                            </div>
                            <div>
                                <p class="heading3" style="margin-bottom: 0">SANEM ATLAIDES KODU</p>
                                <p class="small_text">Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu. </p>
                            </div>
                        </div>
                    </div>
            </div>
            <div class="grid-container3">
                <div class="grid-item3">
                    <div class="grid-container-2rows">
                        <div class="item1 circle_icon text-center"><i class="far fa-envelope"></i></div>
                        <div>
                            <p class="heading3" style="margin-bottom: 0">SANEM ATLAIDES KODU</p>
                            <p class="small_text">Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu. </p>
                        </div>
                    </div>
                </div>
                <div class="grid-item4">
                    <div class="grid-container-2rows">
                        <div class="item1 circle_icon text-center">
                            <img id="checkmark" src="{{view url='images/basket-icon.svg'}}"/>
                        </div>
                        <div>
                            <p class="heading3" style="margin-bottom: 0">SANEM ATLAIDES KODU</p>
                            <p class="small_text">Saņem reģistrācijas apstiprinājumu un atlaides kodu uz e-pastu. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid-half-content">
            <div>
                <p class="heading2">Half column content</p>
                <p>JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Décor, Bath Products).
                    It is important that you provide correct address information.
                    If after three failed attempts of delivering your products, it will be held at your closest Purolator
                    depot for two weeks for pick up. If your order is not picked up, it will be returned to the JYSK store
                    that sent the product out. At this point, a refund will be given to you for only the products.
                </p>
                <p>
                    You will receive a shipment email with a Purolator tracking number once your order is ready for delivery.
                    You will be able to start tracking your order at <a href="http://www.purolator.com">http://www.purolator.com</a> once
                    picks up the products from the JYSK store.
                </p>

            </div>
            <div>
                <p class="heading2">Half column content</p>
                <p>JYSK.lv uses Purolator to deliver soft goods (ex. Bedding, Home Décor, Bath Products).
                    It is important that you provide correct address information.
                    If after three failed attempts of delivering your products, it will be held at your closest Purolator
                    depot for two weeks for pick up. If your order is not picked up, it will be returned to the JYSK store
                    that sent the product out. At this point, a refund will be given to you for only the products.
                </p>
                <p>
                    You will receive a shipment email with a Purolator tracking number once your order is ready for delivery.
                    You will be able to start tracking your order at <a href="http://www.purolator.com">http://www.purolator.com</a> once
                    picks up the products from the JYSK store.
                </p>
            </div>
        </div>
        <p class="heading2">
            Local Delivery Service
        </p>
        <p class="heading2-subtitle">HEADING 2 SUBTITLE</p>
        <p>JYSK.lv uses 3rd party delivery companies to send furniture and mattress products.
            All deliveries will be a two man service and will be either first-point-of-entry
            or any room in the house depending on location.
        </p>
            <div class="grid-table">
                <div class="grid-table-0">
                    <div class="item1-0"></div>
                    <div class="item2-1">Row title in two lines lorem ipsum</div>
                    <div class="item3-1">Small row title</div>
                    <div class="item4-1">Small row title</div>
                    <div class="item5-1">
                        Row title
                        in three long lines
                        to show fluidity
                    </div>
                </div>
                <div class="grid-table-1">
                    <div class="item1-2">A TABLE EXAMPLE COLUMN 1</div>
                    <div class="item2-1">Row title in two lines lorem ipsum</div>
                    <div class="item2-2">Some text aligned in center of cell</div>
                    <div class="item3-1">Small row title</div>
                    <div class="item3-2">Lorem ipsum dolor jysk amet</div>
                    <div class="item4-1">Small row title</div>
                    <div class="item4-2">Lorem ipsum dolor jysk amet</div>
                    <div class="item5-1">
                        Row title
                        in three long lines
                        to show fluidity
                    </div>
                    <div class="item5-2">
                        Two lines content
                        can go there</div>
                </div>
                <div class="grid-table-2">
                    <div class="item1-3">ANOTHER COLUMN</div>
                    <div class="item2-1">Row title in two lines lorem ipsum</div>
                    <div class="item2-3">Second row example</div>
                    <div class="item3-1">Small row title</div>
                    <div class="item3-3">Consectuam</div>
                    <div class="item4-1">Small row title</div>
                    <div class="item4-3">
                        <img id="checkmark" src="{{view url='images/checkmark-icon.svg'}}" style="margin-right: 4px";/> Yes
                    </div>
                    <div class="item5-1">
                        Row title
                        in three long lines
                        to show fluidity
                    </div>
                    <div class="item5-3">Numbers of row is unlimited, and the content will stretch according to it</div>
                </div>
                <div class="grid-table-3">
                    <div class="item1-4">LAST COLUMN</div>
                    <div class="item2-1">Row title in two lines lorem ipsum</div>
                    <div class="item2-4">Last column row</div>
                    <div class="item3-1">Small row title</div>
                    <div class="item3-4">
                        <img id="checkmark" src="{{view url='images/checkmark-icon.svg'}}" style="margin-right: 4px";/>Integrated
                    </div>
                    <div class="item4-1">Small row title</div>
                    <div class="item4-4">This was an empty cell</div>
                    <div class="item5-1">
                        Row title
                        in three long lines
                        to show fluidity
                    </div>
                    <div class="item5-4">Two lines content
                        can go there</div>
                </div>
            </div>
    </div>
</div>
